.dark-mode {
  background-color: #171c28;
  color: white;
  transition: "0.1s";
}

.containerContent{
  padding: 0 10%;
}

@media (max-width: 768px){
  .containerContent{
    padding: 0 5%;
  }
}


@media (max-width: 600px){
  .containerContent{
    padding: 0 2%;
  }
}