.resume-frame {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.resume-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
