@import "../../_globalColor";
/* Resume.css */
.main {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Ensures items are stacked vertically */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Make sure the viewer uses full viewport height */
}
.resume-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: 0px;
}
.resume-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center;
}
.subTitle {
  color: $subTitle;
}
.resume-container {
  width: 100%; /* Use the full width of the container */
  max-width: 1000px; /* Limit the maximum width to keep the PDF readable */
  height: 90vh; /* Adjust height to be slightly less than the full viewport */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for better focus */
  background-color: #fff; /* Background color for the container */
  border-radius: 8px; /* Optional: Rounds the corners */
}

.dark-mode {
  background-color: #333; /* Dark background for dark mode */
  color: #fff; /* Light text color for dark mode */
}

@media (max-width: 768px) {
  .resume-container {
    height: auto; /* Adjust height for mobile devices */
    padding: 10px;
  }
}
