.githubactivity-heading {
  font-size: 56px;
  font-weight: 400;
}

.githubactivity-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
  margin-top: 2rem;
}

.githubactivity-section > * {
  flex: 1;
  margin-bottom: 30px;
}

.githubactivity-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

@media (max-width: 1380px) {
  .githubactivity-card-container {
    padding-top: 0px;
  }
  .githubactivity-heading {
    font-size: 40px;
  }
  .githubactivity-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .githubactivity-section {
    display: none;
  }
}
