.education-heading {
  font-size: 56px;
  font-weight: 400;
}

.education-main-div {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.education-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.education-card-div {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1380px) {
  .education-heading {
    font-size: 40px;
  }
  .education-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .education-main-div {
    flex-direction: column;
  }
  .education-heading {
    font-size: 30px;
    text-align: center;
  }
  .education-text-subtitle {
    font-size: 16px;
  }
}
