.education-heading {
  font-size: 56px;
  font-weight: 400;
}

.education-main-div {
  display: flex;
}

.education-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.education-card-div {
  display: flex;
  flex-direction: column;
  min-width: 800px;;
}

.education-image-div {
  max-width: 200%;
}

.education-image-div > img {
  width: auto;
  
  margin-top: 80px;
  margin-left: 100px;
}

@media (max-width: 1380px) {
  .education-heading {
    font-size: 35px;
    text-align: center;
  }
  .education-main-div {
    flex-direction: column;
  }
  .education-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
  .education-image-div {
    display: none;
  }
}
