* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fe346e;
}

.spinner:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border-top: 3px solid #ffd4de;
    border-right: 3px solid transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}