.talk-header-title {
  font-size: 56px;
  font-weight: 400;
  line-height: 0px;
}

@media (max-width: 768px) {
  .talk-header-title {
    font-size: 30px;
    text-align: center;
  }
  .talk-header-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
