@import "../../_globalColor";

.donation-div-main {
    display: flex;
  }
  
.dark-mode a {
    color: $textColorDark;
  }
  
.donation-div-main > * {
    flex: 1;
  }

.donation-margin-top {
    margin-top: 4rem;
  }

.donation-title {
    font-size: 65px;
    font-weight: 400;
  }

.button-greeting-div {
    display: flex;
    margin-top: 20px;
  }

.donation-image-div > img {
    max-width: 60%;
    height: auto;
    margin-left: 2rem;
    margin-top: -4rem;
  }


@media (max-width: 1380px), (max-width: 768px) {
    .donation-title {
      font-size: 56px;
      font-weight: 400;
      text-align: center;
    }
  
    .donation-title {
      font-size: 40px;
      text-align: center;
    }
  
    .donation-subtitle {
      font-size: 16px;
      line-height: normal;
      text-align: center;
    }

    .button-greeting-div {
      justify-content: space-around;
    }

    .donation-image-div {
      display: none;
    }
  }