@import "../../_globalColor";

.video {
  width: 48.75em;
  height: auto;
  position: absolute;
  align-self: center;
  border-radius: 10px;
  filter: saturate(0.6);
}

.video:hover {
  filter: saturate(1);
  transition: filter 0.1s linear;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
  display: none !important;
}

.card-image {
  max-width: 90%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  align-self: center;
}

.card-image.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.card-image.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.5s linear;
}

.project-card-title {
  color: $titleColor;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
  background-color: transparent !important;
}

.project-card-subtitle {
  color: $cardSubtitle;
  font-size: 1.063em;
  line-height: 1.5em;
  background-color: transparent !important;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 10px;
  justify-content: center;
  width: 48.75em;
  height: 27.42em;
}

.project-card-light {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card-dark {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project-detail {
  text-shadow: 2px 2px 0 #000;
  text-align: center;
  pointer-events: none;
  z-index: 1;
}

.project-image {
  position: relative;
  height: 15.625em;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
  visibility: visible;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.projects-container {
  display: grid;
  gap: 1rem 1rem;
  font-size: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(600px, 800px));
}

.project-card-footer span.project-tag {
  background: $buttonColorVideo;
  color: $lightBackground3;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
  pointer-events: auto;
  text-shadow: none;
}


@media (max-width: 1810px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 1280px) {
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .projects-container {
    font-size: 1.9vw;
    gap: 0.2vw;
  }

  .project-card {
    width: 46.5em;
    height: 26.15em;
  }

  .project-image {
    height: 12em;
  }

  .project-detail {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .project-card-title {
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 1em 0 0 0;
  }

  .project-card-subtitle {
    font-size: 1.3em;
    line-height: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .project-card-footer span.project-tag {
    font-size: 1.2em;
    height: 2em;
    line-height: 1.5em;
  }
}