.card-image {
  max-width: 100%;
  height: auto;
  width: 250px;
}
.card-title {
  color: #000000;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}
.card-subtitle {
  color: #666666;
  font-size: 17px;
  line-height: 1.5rem;
}
.project-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.397);
  cursor: pointer;
}
.project-detail-div {
  text-align: center;
}
.project-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
}

.project-image-div {
  position: relative;
  height: 250px;
  overflow: hidden;
  text-align: center;
}

.project-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

@media (max-width: 768px) {

  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
