@import "../../styles/globalColor.scss";

.devIcons {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }
  
  .softwareSkillInline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .softwareSkillInline > i {
    color: $subTitle;
  }
  
  .softwareSkillInline > i:hover {
    color: $skillsColor;
  }
  .softwareSkillInline > p {
    color: $subTitle;
    font-size: 10px;
  }
  .softwareSkillInline > i:hover ~ p {
    color: $skillsColor;
  }