
.experience-card {
    background-color:rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.397);
}

.experience-card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
}


.experience-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5));
    border-radius: 10px 10px 0px 0px;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.experience-blurred_div {
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2));
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 11rem;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.experience-div-company {
    position: absolute;
    background: transparent;
    height: 9rem;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-text-company {
    text-align: center;
    padding: 1.5rem;
    margin: 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.experience-roundedimg {
    position: absolute;
    left: 0;
    right: 0;
    top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    border-radius: 50%;
}
.experience-text-role {
    text-align: center;
    color: black;
    font-size: 30px;
    margin: 0px;
    font-weight: 400;
    line-height: normal;
}
.experience-text-date {
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 0px;
    margin-top: 1.5rem;
    font-weight: 600;
}
.experience-text-desc {
    text-align: center;
    color: #868e96;
    font-size: 20px;
}
.experience-text-details {
    padding: 1.5rem;
    margin-top: 4rem;
}
