@use '../../globalColor' as v;

.footer-text {
  text-align: center;
  color: v.$subTitle !important;
}

.dark-mode {
  color: v.$lightBackground1 !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
