
// simplifed start 

$buttonColor: #55198b;
$buttonHover: #8c43ce;
$skillsColor:  #645beb;

$appLink: #09d3ac;


$faceBook: #3b5998;
$linkedin: #0e76a8;
$github: #333;
$gitlab: #fca326;
$google: #ea4335;
$twitter: #1da1f2;
$medium: #000;
$stackoverflow: #f48024;
$instagram: #c13584;








// simplified end 



// light theme colors
$appHeaderBG:#282c34;
$appHeaderColor: white; 

$achievementCardTitleColor: #000000;
$achievementCardSubtitleColor: #666666;
$achievementCertificateCardBG: rgb(255, 255, 255);
$achievementCertificateCardBS: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
$achievementCertificateCardBorder: 1px solid rgba(211, 211, 211, 0.397);
$achievementCertificateCardHover: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
$achievementCertificateCardTagColor: #f5f2f4;
$blogCardContainerColor: #586069;
$blogCardContainerBG: #fff;
$blogCardContainerBS:  0 0 36px rgba(0, 0, 0, 0.1);
$blogCardTitleColor: #262626;
$blogCardSmallColor: #666666;
$blogCardGoArrowColor: white;
$blogCardHoverSmallColor: rgba(255, 255, 255, 0.8);
$blogCardHoverH3: #ffffff;
$blogCardBSMobile: 1px 0px 20px #ffffff;
$mainButtonColor: white;
$mainButtonHoverBG: #ffffff;
$educationCardBorder: #a9a7f9;
$educationCardBorderTop: 2px solid rgba(211, 211, 211, 0.397);
$educationRoundImgBS: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
$educationSubHeaderColor: black;
$educationTextDurationColor: #000000;
$experienceCardBG: rgb(255, 255, 255);
$experienceCardBS: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
$experienceCardBorder: 1px solid rgba(211, 211, 211, 0.397);
$experienceCardHoverBS: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
$experienceCardBannerLG: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
$experienceCardBlurredDivLG: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
$experienceCardTextCompanyColor: #fff;
$experienceCardRoundedImgBS: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
$experienceCardTextRoleColor: black;
$experienceCardTextDateColor: black;
$footerTextColor: #868e96 !important;
$githubProfileCardBorder: 0.5rem solid #6c63ff;
$githubProfileCardBS: rgba(0, 0, 0, 1) 0 30px 30px -30px;
$githubProfileCardLocationTS: blanchedalmond;
$githubProfileCardProfileImageBS:rgba(0, 0, 0, 1) 0 50px 50px -50px;
$githubRepoCardColor: rgb(88, 96, 105);
$githubRepoCardBG: rgb(255, 255, 255);
$githubRepoCardBS: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
$githubRepoCardRepoCardHoverBS: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
$githubRepoCardRepoCardStatsColor: rgb(106, 115, 125);
$githubRepoCardLanguageColorBG: blue;
$githubRepoCardRepoNameColor: rgb(36, 41, 46);
$headerBG: #fff;
$headerGreyColor: #868e96;
$headerLiColor: black;
$headerHoverBG: #f4f4f4;
$headerIconBG: #333;
$headerIconBeforeBG: #333;
$socialMediaIconButtonColor: white;


$socialMediaIconHover: black;

$softwareSkillsInlineColor: #868e96;

$softwareSkillsInlineColorP: #868e96;

$talkCardRectangleBS: 0px 20px 50px #d9dbdf;
$talkCardRectangleBSHover: 0 20px 40px rgba(0, 0, 0, 0.08);
$talkCardTitle: white;
$talkCardSubTitle: #7f8287;
$talkCardButtonColor: white;

$talkButtonMobileColor: white;

$toggleSwitchSliderBG: #ccc;
$toggleSwitchSliderBeforeBG: white;
$toggleSwitchCheckedBG: #2196f3;
$toggleSwitchFocusBS: 0 0 1px #2196f3;
$squareBackGround: white;
$blogSquareBS: 0px 20px 50px #d9dbdf;
$blogSquareHover: 0 20px 40px rgba(0, 0, 0, 0.08);
$blogBG: white; 
$contactDetail: #868e96;
$contactDetailHover: black;
$contactDetailHoverTS: 2px 1px 2px #b5b5b5;
$greetingColor: black;
$meterSpanBG: #aaa5ff;
$loadingCircleBG: #333;
$startProjectColor: #000000;
$cardSubtitle: #666666;
$projectCardBackgroundColor: rgb(255, 255, 255);
$projectCardBorder: rgba(211, 211, 211, 0.397);
$projectCardBoxShadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
$projectCardHover: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
$projectCardFooterColor: #f5f2f4;
$meterBackground: rgb(243, 239, 239);
$subTitle: #868e96;
$topButtonHover: #000;



// dark theme colors
$blogCardSmallDark: white !important;
$contactDarkA: white;
$darkBackground: #171c28;
$projectCardBoxShadowDark: 0px 10px 30px -15px #d9dbdf;
$projectCardHoverDark:  #d9dbdf 0px 20px 30px -10px;
$achievementCertificateCardHoverDark: rgba(255, 255, 255, 0.2) 0px 20px 30px -10px;
$experienceCardDarkBG: #171c28;
$experienceCardDarkBS: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
$experienceCardDarkBorder: 1px solid rgba(211, 211, 211, 0.397);
$experienceCardTextRoleDarkColor: white !important;
$footerTextColorDark: white !important;
$githubRepoCardDarkBG: #171c28 !important;
$githubRepoCardDarkColor: white;
$githubRepoCardPDarkColor: white;
$githubRepoCardHoverDarkBS: 0px 0px 16px #d9dbdf;
$headerDarkMenuBG:  #171c28 !important;
$headerDarkMenuColor: white;
$headerDarkMenuLiColor: white !important;
$headerDarkIconBeforeBG: white !important;