@use './globalColor' as v;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: v.$appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: v.$textColorDark;
}

.App-link {
  color: v.$appLink;
}

.subTitle {
  color: v.$subTitle;
}
